body {
	font-family: 'Lato', sans-serif;
	color: white;
	background-color: rgb(117, 9, 36);
	text-align: center;
	/*font-weight: 900;*/
}

#title {
	font-size: 64px;
	font-weight: 900;
	padding-top: 5%;
}

.instructions {
	font-size: 24px;
	font-weight: 400;
	padding-top: 6%;
}

#maininstructions {
	font-size: 36px;
}

.hide {
	display: none;
}

select {
	margin-top: 2%;
	/*border: 0;*/
/*	-webkit-appearance: none;
	-moz-appearance: none;
*/	/*width: 150px;*/
	text-align: center;
}

button {
	margin-top: 10%;
	width: 240px;
	height: 100px;
	font-size: 24px;

}

/*label {
	display: block;
}
*/

.spacer {
	display: inline-block;
	width: 18%;
}


textarea {
	margin-top: 5%;
	width: 60%;
	max-width: 60%;
	font-size: 24px;
	text-align: center;
}

option {
	font-size: 16px%;
}

#pleaseWait, #confirmed {
	margin-top: 30%;
	font-size: 24px;
}

.timerscreen {
	font-size: 36px;
}

#timer1, #timer2 {
	margin-top: 18px;
	margin-bottom: 12px;
}

#welcome {
	font-size: 64px;
	font-weight: 900;
	padding-top: 40%;

}

